.env

.venv

razkymar-project.iml

.idea
/routers/__pycache__
/__pycache__
/utils/__pycache__
/utils/sessions/__pycache__
unknown_errors.txt
db.db
unknown_errors.txt
photos
/routers/autoresponder/__pycache__
/routers/broadcast/__pycache__
/routers/sessions/__pycache__
utils/__pycache__/scripts.cpython-310.pyc
sessions/sessions.json
